<a href="https://colab.research.google.com/github/dingshihrong/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i+=1
print("0-50的偶數和結果是%d"%result)

0-50的偶數和結果是650

In [2]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i+=1
print("0-50的奇數和結果是%d"%result)

0-50的奇數和結果是625

In [3]:
n=int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:7
*******
******
*****
****
***
**
*

In [4]:
sum = 0
for i in range(0,101):
  if(i%3==0 or i%7==0):
    sum += i
print("數值1-100中，所有3或7倍數的數之總和=",sum)

數值1-100中，所有3或7倍數的數之總和= 2208

In [6]:
p=1
counter=0
n = int(input("請輸入正整數"))
print(n,"的因數有",end="")
while(p<=n):
  if(n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1
print()
if(counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數3
3 的因數有1 3
3 是質數

In [7]:
list1=[1,2,3,4,5,]
list1

[1, 2, 3, 4, 5]

In [8]:
list2=["香蕉","蘋果","橘子"]
list2

['香蕉', '蘋果', '橘子']

In [9]:
list3=[1,"香蕉",True]
list3

[1, '香蕉', True]

In [10]:
print(list1)

[1, 2, 3, 4, 5]

In [11]:
print(list1[0])

1

In [12]:
print(list1[1])

2

In [13]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [14]:
list4=["香蕉","蘋果","橘子"]
print(list4[1])

蘋果

In [15]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [16]:
print(list4[3])

IndexError: ignored

In [17]:
print(list4[-1])

橘子

In [18]:
print(list4[-4])

IndexError: ignored

In [19]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]
print(list5[1])

['mary', 'abcd']

In [20]:
print(list5[0])

[['tom', '1234']]

In [21]:
print(list5[1][1])

abcd

In [22]:
print(list5[0])

[['tom', '1234']]

In [24]:
print(list5[0][0])

['tom', '1234']

In [25]:
print(list5[1][0])

mary

In [28]:
scores=[85,79,93]
print("國文成績:%d分"%scores[0])
print("數學成績:%d分"%scores[1])
print("英文成績:%d分"%scores[2])

國文成績:85分
數學成績:79分
英文成績:93分

In [29]:
list6=[1,2,3,4,5]
print(list6[0])

1

In [30]:
list6[0]=9

In [31]:
print(list6[0])

9

In [32]:
print(list6)

[9, 2, 3, 4, 5]

In [ ]:
list7=["香蕉","蘋果","橘子"]

In [35]:
for s in list7:
  print(s,end=",")

NameError: ignored

In [37]:
items=[123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [ ]:
scores=[85,79,93]

In [38]:
print(len(scores))

3

In [39]:
scores=[85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [53]:
scores=[85,79,93]
subject=["國文成績:","數學成績:","英文成績:"]
for i in range(len(scores)):
  print(subject[i],scores[i],"分")

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [55]:
number=[1,2,3]
name=["Tom","Mary","Tony"]
for i in range(len(number)):
  print("編號:",number[i],"姓名:",name[i])

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony